
.carousel-item{
    height:600px;
    }
.affiche{
    height:fit-content;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.carousel-control-prev-icon{
    color: #000000;
}
main{
    background-color: #ffffff;
}
.section-title {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.section-title b {
    background-color: currentColor;
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
}
.section-title-center span {
    text-align: center;
}
.section-title-center span {
    margin: 0 15px;
}
.section-title span {
    text-transform: uppercase;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /*font-size: 19px;*/
    text-align: center;
}
.img-product {
    width:200px;
}
.price-wrapper .price {
    display: block;
}
.price {
    line-height: 1;
}

.price del{
    color: #0b4947;
}
del {
    text-decoration: line-through;
}
.box-text.text-center {
    padding-left: 10px;
    padding-right: 10px;
}
.text-center {
    text-align: center;
}
.box-text{
    padding-left: 10px;
    padding-right: 10px;
    transition: opacity .3s, transform .3s, background-color .3s;
}
.box-text p {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}
.text-center {
    text-align: center;
}
.box-text {
    font-size: .9em;
    padding-bottom: 1.4em;
    padding-top: 0.7em;
    position: relative;
    width: 100%;
}
del span.amount {
    font-weight: 400;
    margin-right: 0.3em;
    opacity: .6;
}
del .woocommerce-Price-amount {
    color: #0b4947;
}
span.amount {
    color: #111;
    font-weight: 700;
    white-space: nowrap;
    text-decoration: none;
}
bdi {
    unicode-bidi: isolate;
}
ins .woocommerce-Price-amount {
    color: #0c6361;
}
.add_to_cart_button.ajax_add_to_cart.is-outline {
    background-color: #3d6781 !important;
    color: #3d6781 !important;
    border-color: #3d6781 !important;
    border-radius: 5px;
    color: #ffffff !important;
}
.text-center .button:last-of-type, .text-right .button:last-of-type {
    margin-right: 0 !important;
}
.text-center .button:first-of-type {
    margin-left: 0 !important;
}
.box-text .button {
    margin-top: 1em;
}
.is-small, .is-small.button {
    font-size: .8em;
}
.box a {
    display: inline-block;
}
a{
    text-decoration: none;
}
.add-to-cart-button{
    margin-top: 15px;

}
.button{
    font-weight: bolder;
    letter-spacing: .03em;
    max-width: 100%;
    min-height: 2.5em;
    padding: 0 1.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
    vertical-align: middle;
    padding:10px;
}
